<h2>Guitars</h2>

<ol>
{{#each guitars}}
<img src={{this.image}} />
    <li>{{this.name}}</li>
<ul>
    <li>{{this.brand}}</li>
    <li>{{this.price}}</li>
     {{!-- <li>{{this.new}}</li> --}}
    <li>Used? {{this.used}}</li> 
 </ul>
{{/each}}
</ol>

{{!-- <a href="/"><h2>Back Home<h2></a>
<a href="/contact"><h2>Contact Us<h2></a>
<a href="/keyboard"><h2>Find a keyboard</h2></a> --}}