<h2>Keyboards</h2>

<ol>
{{#each keyboard}}
    <li>{{this.name}}</li>
<ul>
    <li>{{this.brand}}</li>
    <li>{{this.price}}</li>
    <li>{{this.new}}</li>
    <li>{{this.used}}</li>
 </ul>
{{/each}}
</ol>